// imports

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
// variables
$mainFont: 'Open Sans', sans-serif;

// colors
$white: rgb(255, 255, 255);
$mainBlue: rgb(3, 155, 230);
$mainYelllow: rgb(251, 192, 52);

// globals
* {
   font-family: $mainFont; 
}

.yellow-text {
    color: $mainYelllow;
}
.blue-text {
    color: $mainBlue;
}
.h-90 {
    height: 90%;
}

// wraps all content but footer to show the footer that is fixed at the botom
.wrapper-parallax {
    background-color: $white;
    margin-bottom: 360px;
}



// social nav
.nav-container {
    .social-nav  {
            padding-left: 7%;
            padding-right: 7%;
            background-color: rgba(10, 18, 32, 0.493);
            a {
                color: $white;
                text-decoration: none;
                padding-right: 5px;
                padding-left: 5px;
                font-size: 1.15rem;
            }
        }
        
    .invisible-nav {
        padding-left: 6%;
        padding-right: 6%;
        .dropdown-menu {
            background-color: rgba(0, 0, 0, 0.109);
            .dropdown-item {
                color: $white !important;
                &:hover {
                    color: black;
                }
            }
        }
        .navbar-toggler {
            background-color: rgba(0, 0, 0, 0.65);
        }
    }
}


// hero area
.hero-container {
    z-index: -1;
    background-image: url("../img/heroImage.png");
    background-size: cover;
    background-position: center center;
    margin-top: -120px;
    height: 60vh; 
    .hero-text {
        color: $white;
        font-size: 4rem;
        font-weight: 600;
        letter-spacing: 3px;
        
    }
}



// Things you shoud know section
.things-you-shoud {
    h2 {
        color: $mainBlue;
        font-weight: 700;
        text-transform: uppercase;
    }

    .containter {
        padding-right: 0;
    }
    
    
    .fa-angle-right {
        color: $mainBlue;
    }
    .icon {
        margin-top: -5px;
        margin-right: 5px;
    }
    p {
        line-height: 2rem;
    }
    
}

// Choose booosting section
.choose-boosting-section {
    p {
        line-height: 2rem;
    }
    .row {
        margin-left: 10%;
        margin-right: 10%;
    }
    .img-container {
        height: 120px;
    }
}

// How to register and order section
.register-order-section {
    background-color: $white;
    .video-container {
        height: 70vh;
        width: 80%;
    }
    iframe {
        height: 100%;
        width: 100%;
    }
}

//  FAQ section
.faq-section {
    z-index: 1;
    background-image: url('../img/faqBackground.jpeg');
    background-size: cover;
    height: 787px;
    padding: 0;
    margin-left: -10px;

    
    .text-block {
        margin-top: 2%; 
        background-color: rgba(248, 248, 248, 0.657);
        padding-top: 8%;
        padding-bottom: 18%; 
        padding-left: 7%;
        
    }
    a {
        text-decoration: none;
        background-color: $mainBlue;
        color: $white;
        font-size: 0.8rem;
    }
}

// footer
.footer-section {
    padding-top: 200px;
    position: fixed;
    bottom: 0;
    z-index: -1;
    background-color: $mainBlue;
    .row {
        margin-left: 10%;
        margin-right: 10%;
    }
    p, a {
        font-size: 0.8rem;
        color: $white;
    }
    h5 {
        color: $white;
        font-size: 1rem;
    }
    .footer-logo {
        margin-top: -5px;
    }
}


.spacer {
    height: 100vh;
}

//media queries

// mobile portrait view hero text size reduced, account item size reduced to fit
@media (max-width: 420px) {
    .hero-container .hero-text {
    font-size: 3rem;
    }
    .social-nav .account-items a {
        font-size: 0.9rem;
    }
}
// tablet view footer size fix, hiding social items at the top
@media (max-width: 576px) {
    .wrapper-parallax {
        margin-bottom: 581px;
    }
    #social-items a, #discord-logo {
        display: none;
    }
    

// big tablet, small laptop view, footer size fix
}
@media (max-width: 1024px) and (min-width: 1024px) {
    .wrapper-parallax {
        margin-bottom: 400px;
    }
}

// large desktop footer size fix
@media (min-width: 1200px) {
    .wrapper-parallax {
        margin-bottom: 300px;
    }
    // large desktop menu closer to the center
    .nav-container .social-nav, .nav-container .invisible-nav  {
        padding-left: 15%;
        padding-right: 15%;
    }    
}
